{% verbatim %}
<!DOCTYPE html>
<html lang="en" ng-app="angularizeApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Real-time Charting App</title>

    <!-- Le styles -->
    <link type="text/css" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/fonts/icomoon/icomoon.css" rel="stylesheet" type="text/css" />
    <!--<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>-->
    <!--<link rel="shortcut icon" type="image/png" href="http://angularfy.herokuapp.com/static/img/favicon.ico"/>-->

    <!-- Le scripts -->
    <!-- The AngularJS bones -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-resource.min.js"></script>
    <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script> -->

    <!-- Lets use ng-table -->
    <script type="text/javascript" src="/static/js/ng-table.js"></script>
    <link type="text/css" href="/static/css/ng-table.css" rel="stylesheet" />

    <!-- Lets use rickshaw -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/rickshaw.js"></script>
    <link type="text/css" href="/static/css/rickshaw.min.css" rel="stylesheet" />

    <!-- Lets use AngularUI Bootstrap -->
    <!--<script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>-->

    <!-- Underscore is so helpful -->
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <!-- <script type="text/javascript" src="/static/js/underscore.string.min.js"></script> -->
    <!-- <script type="text/javascript"> _.mixin(_.str.exports()) </script> --> 

    <!-- Custom -->
    <script type="text/javascript" src="/static/js/angularize.js"></script>
    <link type="text/css" href="/static/css/angularize.css" rel="stylesheet" />

  </head>
  
  <body ng-controller="MyCtrl">

    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="page-header">
            <h1>
              Real-time Charting Example <small class="subtitle" >My Metacloud Coding Assignment</small>
            </h1>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-3 column">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                My Side Panel
              </h3>
            </div>
            <div class="panel-body">
              Some content here...
            </div>
          </div>
        </div>
        <div class="col-md-9 column">
          <table ng-table="tableParams" class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="col in columns" data-title="{{col.displayName}}" ng-if="col.hidden != true">{{col.displayName}}</th>
              </tr>
            </thead> 
            <tbody>
              <tr class="table-row data-{{$index}}" ng-init="notActive = false" ng-repeat="host in $data" ng-class="{'active': notActive}">
                <td ng-if="host.dummy != true" data-title=""><span class="icon toggle-chart" ng-class="{'icon-chevron-right': !notActive, 'icon-chevron-down': notActive}" ng-click="notActive = !notActive; showChart($event, $data, $index, notActive)"></span></td>
                <td ng-if="host.dummy != true && col.hidden != true" ng-repeat="col in columns" data-title="{{col.displayName}}">
                  <span ng-class="{'text-success': host[col.field] == 'Good', 'text-warning': host[col.field] == 'Degraded', 'text-danger': host[col.field] == 'Bad'}">{{host[col.field]}}</span>
                </td>
                <td colspan="{{columns.length + 1}}" ng-if="host.dummy">
                  <rickshaw-chart
                    data="data.status_data",
                    chart-name="Real Time Status",
                    index="$index",
                    color="steelblue"
                    renderer="line"
                    width="835"
                    height="300">
                  </rickshaw-chart>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </body>
</html>



{% endverbatim %}
