/*style.css
  background-color: #485563;
  background-color: #4E5D6C;
*/
/* General */
.subtitle {
  font-size: 45%;
  font-weight: lighter;
  padding-left: 15px;
}

.panel-body {
  height: 430px;
}

/* ngGrid styles */
/*.gridStyle {
  width: auto; 
  height: 300px;
}

.ngGrid {
  background: none;
}

.ngRow.odd, 
.ngTopPanel {
  background-color: #2B3E50;
}

.ngVerticalBar {
  display: none;
}

.ngRow.even {
  background-color: #4E5D6C;
}
*/

.ng-table th {
  text-align: left;

}

.toggle-chart {
  padding: 4px 0 0 8px;
  display: inline-block;
  width: 11px;
  cursor: pointer;
}

tr.active {
  height: 300px;
}

.ng-table-pager {
  text-align: center;
}

/* Rickshaw Chart */
.rickshaw_graph .detail .item.active {
  background-color: #4E5D6C;
  border: none;
}

.rickshaw_graph .detail .item.right:after, 
.rickshaw_graph .detail .item.left:after {
  border-left-color: #4E5D6C;
  border-right-color: #4E5D6C;
}

.rickshaw_graph .detail .x_label {
  background: none;
  border: medium none;
  opacity: 1;
  padding: 0;
}
.rickshaw_graph .detail .x_label .label {
  padding: 4px;
  font-size: 100%;
}

.rickshaw_graph .detail .x_label .label,
.rickshaw_graph .detail .item.active {
  padding: 4px 6px;
}

.rickshaw_graph .detail {
  margin-top: 10px;
}

td.rickshaw-cell,
td.rickshaw-cell .rickshaw_graph {
  width: 100%;
}

/* Chart graph options */
/* Adapted from http://code.shutterstock.com/rickshaw/examples/extensions.html */
#chart-type {
  text-align: center;
}
#chart-type input[type="radio"]:checked {
  outline: 2px solid #4682B4;
}
#chart-type input[type="radio"] {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 20px;
  position: absolute;
  width: 33px;
}

input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 7px 0 0 3px;
}
form label {
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  padding: 26px 0 0;
  position: relative;
  text-align: center;
  width: 39px;
  height: 26px;
  margin: 4px 4px 0 0;
}
label[for="area"] {
  background: url("/static/img/rickshaw/om_stack.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
label[for="line"] {
  background: url("/static/img/rickshaw/om_lines.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
label[for="bar"] {
  background: url("/static/img/rickshaw/om_bar.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
label[for="scatter"] {
  background: url("/static/img/rickshaw/om_scatter.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
